.main-div{
  padding: 0;
  margin: 0; 
  display: block;  
  color: white;
} 
.left{
  background-color: #eb4b67; 
}
.right{
  background: #9301b8;
}
.score-area-main{
  display: flex;  
  justify-content: center; 
}  
.team-name{
  text-align: center;
}
.score{ 
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
}  
.goal-a h1, .goal-b h1{
  font-size: 15rem;
}
.players{
  margin-top: -4rem;
} 
.players li{
  list-style: none;
}
